[Desktop Entry]
Encoding=UTF-8
Version=1.0
Terminal=false
Type=Application
Categories=Office;
Name=Notorius
Comment=Create and edit LaTeX annotations to PDF files
Exec=/usr/local/bin/notorius
Icon=/usr/share/icons/notorius.png
